<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="NuGet.Package.Builder" version="1.0.12" targetFramework="net46" developmentDependency="true" />
  <package id="WPF.Comun" version="1.9.4" targetFramework="net452" />
  <package id="WPF.Comun.Controles" version="1.0.1" targetFramework="net452" />
  <package id="WPF.Comun.EntidadesNegocio" version="1.0.2" targetFramework="net452" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net452" />
  <package id="WPFToolkit.DataVisualization" version="3.5.50211.1" targetFramework="net452" />
</packages>